services:
  db:
    image: postgres:16
    container_name: alerta_cidadao_db_prod
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5433:5432"
    volumes:
      - pgdata_prod:/var/lib/postgresql/data
    restart: always
    networks:
      - app_network
  
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: password
    networks:
      - app_network
  
  redis:
    image: redis:alpine
    container_name: redis_cache
    command: redis-server --maxmemory 100mb --maxmemory-policy allkeys-lru --appendonly no
    ports:
      - "6379:6379"
    restart: always
    networks:
      - app_network

volumes:
  pgdata_prod:

networks:
  app_network: